[Unit]
Description= PetClinic Service
After=syslog.target
After=network.target[Service]
User=ubuntu
Type=simple

[Service]
ExecStart=/usr/bin/java -jar /home/ubuntu/spring-petclinic-2.7.0-SNAPSHOT.jar
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier= myapplication

[Install]
WantedBy=multi-user.target